In [1]:
import pandas as pd
import numpy as np

train_data = pd.read_csv('data/ijcai2016_koubei_train', header=None)
train_data.columns = ['user_id', 'merchant_id', 'location_id', 'time_stamp']
print len(train_data)
print train_data.head()

merchant_info = pd.read_csv('data/ijcai2016_merchant_info', header=None)
merchant_info.columns = ['merchant_id', 'budget', 'location_id_list']
print len(merchant_info)
print merchant_info.head()

test_data = pd.read_csv('data/ijcai2016_koubei_test', header=None)
test_data.columns = ['user_id', 'location_id']
print len(test_data)
print test_data.head()

1081724
   user_id  merchant_id  location_id  time_stamp
0  1027765         4822          172    20151028
1   141398         4822          172    20151115
2   141398         4822          172    20151005
3  1027765         4822          172    20151026
4   141398         4822          172    20151011
5910
   merchant_id  budget location_id_list
0          128     331              180
1         3712     100               34
2         1409     100              317
3         3201     100              337
4         8577     100              178
473533
   user_id  location_id
0   753792          112
1  1278336          178
2  1409408          461
3   492160          214
4  1671808          481

In [7]:
same_place = pd.merge(train_data[['user_id', 'location_id']].drop_duplicates(), test_data,
                      on=['user_id', 'location_id'], how='inner')
print len(same_place)

45934